@font-face {
   font-family: 'RubikMonoOne-Regular';
   font-display: swap;
   src: url('file:///C:/Users/mygam/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-12-15_120356/fonts/RubikMonoOne-Regular/font.ttf');
}
